* {
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

html,
body {
    /* background-color: #504949; */
    height: 100vh;
    width: 100vw;
    

}


.main-container {
    /* height: 702px; */
    border-radius: 37px 37px 37px 37px;
    /* background-color:white; */
    height: auto;
    width: 656px;
    flex-shrink: 0;
    margin: 50px 500px;
    /* position: relative; */

    /* bottom: 10; */
}

.top-div {
    width: 656px;
    height: 79px;
    flex-shrink: 0;
    border-radius: 37px 37px 0px 0px;
    background: #F58634;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    /* position: fixed;
    top: 0; */
    /* position: relative; */

}

.top-div span {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.top-div p{
    color: #FFF;

    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}





.sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
    /* overflow:visible; */

    
}

.img1 {
    display: flex;
    width: 177px;
    height: 143px;
    flex-shrink: 0;
    border: 1px solid #5A5A5A;
    align-items: center;
    justify-content: center;
    /* overflow-y: scroll; */
   
}


.div-img{
    width: 112px;
    height: 85px;
    flex-shrink: 0;
    /* border: 1px solid red; */
}


.data1 h1 {

    color: #000;

    width: 314px;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    padding: 4px 0px;
}

.data1 p{

    color: #5A5A5A;

    width: 75px;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration:line-through;
}

.data1 h2 {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    width: 105px;
}

.bottom-div h3{
    color: #000;

font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 24px;
width: 265px;
/* margin: 30px 30px; */
padding: 30px 30px;
}

.bottom-div {
    width: 656px;
    height: 220px;
    border-radius: 0px 0px 37px 37px;
    background: #FAFAFA;
    /* position: fixed;
    bottom: 0; */
    border-bottom: 1px solid gray;
    /* background-color: red; */
    /* margin:2px 0px; */
    /* gap: 10px; */

}

.bottom-div button{
    margin: 10px 30px;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 24px;
width: 200px;
height: 56px;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid #000;

}

.text{
    display: flex;
    padding: 7px 0px;
}

.text button{
display: flex;
width: 38px;
height: 18px;
padding: 4px 12px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 4px;
background: #000;
color: #FAFAFA;
margin: 3px 0px;
}

.text button p{
color: var(--Text, #FAFAFA);
font-family: Outfit;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 18px;
text-decoration: none;

}

/* .trangle{ */

/* width: 71px;
height: 82px;
flex-shrink: 0;
fill: #F58634;
background-color: #000;
bottom: 15;
border:2px solid #000; */
/* position: relative; */

/* } */

/* .trangle img{ */
    /* background-color:  black; */
    /* border: 1px solid red; */
    /* z-index: 3; */
/* position: absolute; */
/* top: 50; */
/* left: 50; */
/* right: 50; */
/* bottom: 50; */
/* } */