*{
    margin: 0;
    padding: 0;
}

.red{
    /* used in rgb color */
    background-color: rgb(231, 21, 238);
    color:white;
}

.green{
    /* used in normal color */
    background-color: green;
    color: white;
}

.hex-color{
    /* used in HEX color */
    background-color: #9990f5;
}